{% extends "base.html" %}

{% block extra_head %}
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:description" content="{{ article.paragraphs.0 }}">
    <meta property="og:image" content="{{ article.image }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="w0rng feed">
    <meta property="og:locale" content="ru_RU">
{% endblock %}

{% block content %}
    <div class="container-lg cards-group">
        <turbo-frame id="article_{{ article.id }}">
            <div class="card mb-5" id="{{ article.id }}">
                <div class="position-relative">
                    <div style="min-height: 100px">
                        <img src="{{ article.image }}" class="card-img-top">
                    </div>
                    <form class="position-absolute top-0 end-0" action="/article/{{ article.id }}/save" method="post">
                        {% csrf_token %}
                        <button class="btn btn-warning bookmark" type="submit">
                            {% if article.saved %}
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512">
                                    <path d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/>
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512">
                                    <path d="M0 48C0 21.5 21.5 0 48 0l0 48V441.4l130.1-92.9c8.3-6 19.6-6 27.9 0L336 441.4V48H48V0H336c26.5 0 48 21.5 48 48V488c0 9-5 17.2-13 21.3s-17.6 3.4-24.9-1.8L192 397.5 37.9 507.5c-7.3 5.2-16.9 5.9-24.9 1.8S0 497 0 488V48z"/>
                                </svg>
                            {% endif %}
                        </button>
                    </form>
                    <div class="position-absolute bottom-0 start-0">
                        {% for tag in article.tags %}
                            <a href="/?tag={{ tag }}"
                               class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                               target="_top">
                                <span class="badge bg-secondary col">{{ tag }}</span>
                            </a>
                        {% endfor %}
                    </div>
                    <span class="badge bg-primary position-absolute bottom-0 end-0">
                        Просмотры: {{ article.count_read }}
                    </span>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <a href="{{ article.url }}"
                           class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                           target="_blank">
                            <h2 class="card-title mb-4">{{ article.title }}</h2>
                        </a>
                        <button class="btn"
                                onclick="navigator.clipboard.writeText('{{ request.build_absolute_uri }}');">
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512">
                                <path d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/>
                            </svg>
                        </button>
                    </div>
                    <ul class="card-text">
                        {% for paragraph in article.paragraphs %}
                            <li class="mb-2">{{ paragraph }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </turbo-frame>

        <script>
            fetch('/article/' + article.id + "/read");
        </script>
    </div>
{% endblock %}