http://* {

    encode zstd gzip

    @notStatic {
            not path /static/* /media/*
    }

	handle_path /static/* {
	    uri strip_prefix /static
		file_server {
			root "/static/"
		}
	}

    handle {
		reverse_proxy @notStatic web:8000
	}
}